---
# enable liquid
---
body { font: 16px/1.6 sans-serif; }
body { color: rgba(0, 0, 0, 0.85); }
body { margin-top: 40px; }
body { background: -webkit-radial-gradient(10% top, circle, rgba(0,0,30,0.05) 0%, rgba(0,0,30,0) 45%),
                   -webkit-radial-gradient(right 10%, circle, rgba(0,0,30,0.1) 0%, rgba(0,0,0,0) 45%); }

.container { max-width: 42rem; margin: 0 auto; }
a { color: purple; text-decoration: none }
code { color: purple; }
section { padding: 3rem 0 2em 0; }

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; margin: 1.75rem 0 0.5rem 0 }
h3 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h3.cmd { font-family: monospace; font-weight: bold; margin: 2rem 0 0.5rem -1.5rem; }

nav a { font-weight: normal; }
nav.top a { color: white; }
nav.top { font-size: 0.8rem; padding: 0 1rem;}
nav.top { background: -webkit-radial-gradient(0% top, circle, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),
                      -webkit-radial-gradient(right top, circle, #794aa2 0%, rgba(121,74,162,0.1) 57%); }
.navbar-brand { font-size: 0.8rem; margin-left: 1rem; }

.dark { background: rgba(121, 74, 162, 1); color: ivory; }
.dark { background: linear-gradient(to bottom, rgba(121, 74, 162, 0.8), rgba(70, 50, 100, 1) 100%); }
.dark code { background-color: transparent; }
.dark a { color: rgba(200, 200, 255, 1); }
.dark { padding-bottom: 2rem; }

pre { padding: 0.5rem 0.75rem; }
pre { margin: 1rem 0;}
pre { overflow-x: hidden; }
pre { background: rgba(255, 255, 255, 0.5); }
pre { border: 1px solid #dddeee; }
pre { border-radius: .5rem; }
pre.small, .highlight { font-size: 0.85rem; }
.dark pre { color: #fff; background: rgba(0, 0, 0, 0.2); box-shadow: inset 0rem 0rem 3rem rgba(0,0,0,.15) }
.dark pre { border-width: 0; }

.home a.join { margin-top: 2.5rem; }

.text-muted a { color: inherit }
.c1:first-child { margin-left: -0.9rem;}
