---
# enable liquid
---
body { font: 20px/1.5 sans-serif; }
body { color: rgba(0, 0, 0, 0.85); }

.container { max-width: 42rem; margin: 0 auto; }
a { color: purple; }
code { color: purple; }
section { padding: 3rem 0 2em 0; }

h1 { font-size: 2rem; font-weight: bold; letter-spacing: -0.07rem; }
h2 { font-size: 1.75rem; margin: 1.75rem 0 0.5rem 0 }
h3 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h3.cmd { font-family: monospace; font-weight: bold; margin: 2rem 0 0.5rem 0rem; }

h1 img { margin-right: 1rem; }

nav a { font-weight: normal; }
nav.top a { color: white; }
nav.top { padding: 0 1rem;}
nav.top { background: #6660a0; }
.navbar-brand { margin-left: 1rem; }

pre { padding: 0.5rem 0.75rem; }
pre { margin: 1rem 0;}
pre { overflow-x: hidden; }
pre.small, .highlight { font-size: 0.85rem; }
.dark pre { border-width: 0; }

.text-muted a { color: inherit }
.c1:first-child { margin-left: -0.9rem;}

section ul { list-style-type: none; }
section li:not(:last-child) { margin-bottom: .75rem; }

.lead { opacity: 0.8; }

.dapphub-logo {
  background: url(https://dapphub.com/logo.svg) center left no-repeat;
  background-size: 3rem;
  padding-left: 4.2rem;
}
