---
# enable liquid
---
body { font: 20px/1.5 sans-serif; }
body { color: rgba(0, 0, 0, 0.85); }

.container { max-width: 42rem; margin: 0 auto; }
a { color: purple; }
code { color: purple; }
section { padding: 0rem 0 2em 0; }
h1 { margin-top: 3rem; }

h1 { font-size: 2rem; font-weight: bold; letter-spacing: -0.07rem; }
h2 { font-size: 1.75rem; margin: 1.75rem 0 0.5rem 0 }
h3 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h3.cmd { font-family: monospace; font-weight: bold; margin: 2rem 0 0.5rem 0rem; }

h1 img { margin-right: 1rem; }

nav a { font-weight: normal; }
nav.top a { color: white; }
nav.top { padding: 0 1rem;}
nav.top { background: #6660a0; }
.navbar-brand { margin-left: 1rem; }

pre, code { font-family: "Fantasque Sans Mono"; }
pre { padding: 0.5rem 0.75rem; }
pre { margin: 1rem 0;}
pre { overflow-x: hidden; }
pre.small, .highlight, pre code { font-size: 0.85rem; }
.dark pre { border-width: 0; }
pre { background: #6660a0; color: ivory }
pre { border-radius: .5rem; }
pre a { color: white; border-bottom: 1px solid currentcolor; }
pre { box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }

.text-muted a { color: inherit }
.c1:first-child { margin-left: -0.9rem;}

section ul { list-style-type: none; }
section ul li:not(:last-child) { margin-bottom: .75rem; }

ol li { margin-bottom: 0; }

.lead { opacity: 0.8; }
.hide {  visibility: hidden; }

.dapphub-logo {
  background: url(https://dapphub.com/logo.svg) center left no-repeat;
  background-size: 3rem;
  padding-left: 4.2rem;
}

pre > b {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
  src: url('/fonts/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
       url('/fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('/fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('/fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Bold.eot'); /* IE 9 Compatibility Mode */
  src: url('/fonts/FantasqueSansMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
       url('/fonts/FantasqueSansMono-Bold.woff2') format('woff2'),
       url('/fonts/FantasqueSansMono-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('/fonts/FantasqueSansMono-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/FantasqueSansMono-Bold.svg#FantasqueSansMono-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
