<h1>
  <i class="fa fa-cube"></i>
  DappSys <small class="text-muted">0.2.0</small>
</h1>
<p class="lead">
  Safe, simple, flexible building-blocks for smart-contract systems.
</a>

<hr>
<dl class="row">
  <dt class="col-sm-2">Auth</dt>
  <dd class="col-sm-10">
      <code><a href={{ "dappsys/ds-auth.html" | relative_url }}>ds-auth</a></code>
      <code><a href={{ "dappsys/ds-guard.html" | relative_url }}>ds-guard</a></code>
      <code><a href={{ "dappsys/ds-roles.html" | relative_url }}>ds-roles</a></code>
  </dd>
  <dt class="col-sm-2">Token</dt>
  <dd class="col-sm-10">
      <code><a href={{ "dappsys/ds-token.html" | relative_url }}>ds-token</a></code>
      <code><a href={{ "dappsys/ds-vault.html" | relative_url }}>ds-vault</a></code>
  </dd>
  <dt class="col-sm-2">Oracle</dt>
  <dd class="col-sm-10">
      <code><a href={{ "dappsys/ds-cache.html" | relative_url }}>ds-cache</a></code>
      <code><a href={{ "dappsys/ds-value.html" | relative_url }}>ds-value</a></code>
  </dd>
  <dt class="col-sm-2">Util</dt>
  <dd class="col-sm-10">
      <code><a href={{ "dappsys/ds-exec.html" | relative_url }}>ds-exec</a></code>
      <code><a href={{ "dappsys/ds-math.html" | relative_url }}>ds-math</a></code>
      <code><a href={{ "dappsys/ds-note.html" | relative_url }}>ds-note</a></code>
      <code><a href={{ "dappsys/ds-proxy.html" | relative_url }}>ds-proxy</a></code>
      <code><a href={{ "dappsys/ds-stop.html" | relative_url }}>ds-stop</a></code>
      <code><a href={{ "dappsys/ds-thing.html" | relative_url }}>ds-thing</a></code>
  </dd>
  <dt class="col-sm-2">Gov</dt>
  <dd class="col-sm-10">
      <code><a href={{ "dappsys/ds-multisig.html" | relative_url }}>ds-multisig</a></code>
  </dd>
</dl>

<hr>

<h2>
  {{ site.data.dappsys[page.id].title }}
  <small class="text-muted">
    <a href="https://github.com/{{ site.data.dappsys[page.id].github }}">
      <span class="fa fa-github"></span>
    </a>
  </small>
</h2>
<p class="lead">{{ site.data.dappsys[page.id].lead }}</p>
