We maintain
<tt><a href=#>Dappsys</a></tt> - a pattern language of contracts
with formally verified semantics.  It includes
<ul>
  <li><tt><a href=#>ds-token</a></tt>, a generic EIP-20 coin;</li>
  <li><tt><a href=#>ds-cabal</a></tt>, a multisig;</li>
  <li><tt><a href=#>ds-guard</a></tt>, a flexible authority rule;</li>
  <li><tt><a href=#>ds-proxy</a></tt>, a transaction proxy; and</li>
  <li><tt><a href=#>ds-cache</a></tt>, a store of expiring values.</li>
</ul>

<p>Using these proven parts lets us focus on the novel features of the systems
we develop. We share Dappsys under a free software license to benefit the smart
contract ecosystem.</p>
