<p>
  We also maintain <a href={{ "dappsys/" | relative_url }}>Dappsys</a>, an
  audited collection of smart contract building blocks designed to complement
  each other. They include;
</p>

<ul>
  <li>
    <code><a href={{ "dappsys/ds-token" | relative_url }}>ds-token</a></code>,
    a generic EIP-20 coin;
  </li>
  <li>
    <code><a href={{ "dappsys/ds-multisig" | relative_url }}>ds-group</a></code>,
    a multisig;
  </li>
  <li>
    <code><a href={{ "dappsys/ds-guard" | relative_url }}>ds-guard</a></code>,
    a flexible authority rule;
  </li>
  <li>
    <code><a href={{ "dappsys/ds-proxy" | relative_url }}>ds-proxy</a></code>,
    a transaction proxy; and
  </li>
  <li>
    <code><a href={{ "dappsys/ds-cache" | relative_url }}#>ds-cache</a></code>,
    a store of expiring values.
  </li>
</ul>

<p>
  Using these proven parts lets us focus on the novel features of the systems
  we develop. We share Dappsys under a free software license to benefit the smart
  contract ecosystem.
</p>
