<p>
  We also maintain <a href={{ "dappsys/" | relative_url }}>Dappsys</a>, a pattern
  language of contracts with formally verified semantics. It includes;
</p>

<ul>
  <li><code><a href=#>ds-token</a></code>, a generic EIP-20 coin;</li>
  <li><code><a href=#>ds-multisig</a></code>, a multisig;</li>
  <li><code><a href=#>ds-guard</a></code>, a flexible authority rule;</li>
  <li><code><a href=#>ds-proxy</a></code>, a transaction proxy; and</li>
  <li><code><a href=#>ds-cache</a></code>, a store of expiring values.</li>
</ul>

<p>
  Using these proven parts lets us focus on the novel features of the systems
  we develop. We share Dappsys under a free software license to benefit the smart
  contract ecosystem.
</p>
