            <h1 class="dapphub-logo">
              The DappHub Collective
            </h1>
            <p class="lead">We build infrastructure for the next generation of the internet</p>
            <p>
              <a href="http://dapphub.com">DappHub</a> is a
              self-organizing network of logicians, researchers,
              designers and developers spread out across the
              globe.
            </p>
            <p>
              Our network is always growing. If you want to join, just
              come to our chat room and introduce yourself.
            </p>
            <p>
              <a href="https://dapphub.chat" class="btn btn-secondary join">
                <i class="fa fa-users"></i> Join the DappHub chat
              </a>
            </p>
