<p class="lead">Setting up the DappHub toolkit</p>
<p>
  Dapptools requires Nix, so make sure you have it <a href="https://nixos.org/download.html">installed</a> first.

  After that, you can take advantage of our one-line installer.
</p>

<pre>
<b>$ </b>curl https://dapp.tools/install | sh
</pre>

<p>
  This script downloads the latest version of dapptools, sets up a binary cache using <a href="https://cachix.org">Cachix</a> and installs our most used tools.
</p>

<p class="lead">Manual installation</p>
<p>
  We recommend using the <a href=https://nixos.org>Nix</a> package
  manager</a>.  It works on Linux and OS X and is self-contained
  and unobtrusive.
</p>

<pre>
<b>$ </b>curl -L https://nixos.org/nix/install | sh
<b>$ </b>. "$HOME/.nix-profile/etc/profile.d/nix.sh"
<b>$ </b>nix-env -iA dapp hevm seth solc -if https://api.github.com/repos/dapphub/dapptools/tarball/master --option substituters "https://cache.nixos.org https://dapp.cachix.org" --option trusted-public-keys "cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= dapp.cachix.org-1:9GJt9Ja8IQwR7YW/aF0QvCa6OmjGmsKoZIist0dG+Rs"
</pre>
