<p class="lead">Setting up the DappHub toolkit</p>
<p>
  If you are running GNU/Linux you can take advantage of our all in one installer.
</p>

<pre>
<b>$ </b>curl https://dapp.tools/install | sh
</pre>

<p>
  This script downloads the Nix package manager, setups binary cache with Cachix and installs our most used tools.
</p>

<p class="lead">Manual installation</p>
<p>
  We recommend using the <a href=https://nixos.org>Nix</a> package
  manager</a>.  It works on Linux and OS X and is self-contained
  and unobtrusive.
</p>

<pre>
<b>$ </b>curl https://nixos.org/nix/install | sh
<b>$ </b>. "$HOME/.nix-profile/etc/profile.d/nix.sh"
<b>$ </b>nix-env -if https://github.com/cachix/cachix/tarball/master --substituters https://cachix.cachix.org --trusted-public-keys cachix.cachix.org-1:eWNHQldwUO7G2VkjpnjDbWwy4KQ/HNxht7H4SSoMckM=
<b>$ </b>cachix use dapp
<b>$ </b>git clone --recursive https://github.com/dapphub/dapptools $HOME/.dapp/dapptools
<b>$ </b>nix-env -f $HOME/.dapp/dapptools -iA dapp seth solc hevm ethsign
</pre>
