<p>
  We recommend using the <a href=https://nixos.org>Nix</a> package
  manager</a>.  It works on Linux and OS X and is self-contained
  and unobtrusive.
</p>

<pre>
<b>$</b> curl https://nixos.org/nix/install | sh
<b>$</b> nix-channel --add https://nix.dapphub.com/pkgs/dapphub
<b>$</b> nix-channel --update
<b>$</b> nix-env -iA dapphub.{<!--
  --><a href=https://github.com/dapphub/dapp>dapp</a>,<!--
  --><a href=https://github.com/dapphub/seth>seth</a>,<!--
  --><a href=https://github.com/dapphub/hevm>hevm</a>,<!--
  --><a href=https://github.com/arachnid/evmdis>evmdis</a>}
</pre>
