<nav class="navbar fixed-top top">
  <a class="navbar-brand" href={{ "/" | relative_url }}>
    <i class="fa fa-home"></i>
    dapp.tools
  </a>
  <ul class="nav justify-content-end">
    <li>
      <a class="nav-link" href=https://dapphub.chat/>
        <i class="fa fa-rocket"></i>
        chat
      </a>
    </li>
    <li>
      <a class="nav-link" href=https://dapphub.io/>
        <i class="fa fa-globe"></i>
        dapphub.io
      </a>
    </li>
    <li>
      <a class="nav-link" href=https://github.com/dapphub>
        <i class="fa fa-github"></i>
        github/dapphub
      </a>
    </li>
  </ul>
</nav>

<nav class="navbar">
  <ul class="nav">
    <li class="nav-item"><a class="nav-link" href={{ "dapp/" | relative_url }}>
        Dapp
    </a></li>
    <li class="nav-item"><a class="nav-link" href={{ "seth/" | relative_url }}>
        Seth
    </a></li>
    <li class="nav-item"><a class="nav-link" href={{ "hevm/"| relative_url }}>
        Hevm
    </a></li>
    <li class="nav-item"><a class="nav-link" href={{ "dappsys/" | relative_url }}>
        <i class="fa fa-cube"></i>
        Dappsys
    </a></li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link" href=https://dapphub.chat/channel/dev>
        --help
    </a></li>
  </ul>
</nav>
