<p>
  <a href="http://dapphub.com">DappHub</a> is a community of developers,
  computer scientists, security researchers &amp; category theorists working on
  blockchain software. Our suite of tools has grown through our work on
  <a href="http://www.makerdao.com">Maker</a> and other consulting projects and
  is designed to ease the correct construction and deployment of distributed
  applications. Our open source toolkit includes:
</p>

<dl class="row">
  <dt class="col-2"><code><a href={{ "dapp/" | relative_url }}>Dapp</a></code></dt>
  <dd class="col-10">
    build, test, deploy and transact with Ethereum contracts from the comfort of the
    command line.
  </dd>
  <dt class="col-2"><code><a href={{ "seth/" | relative_url }}>Seth</a></code></dt>
  <dd class="col-10">
    slice and dice transactons, query the blockchain, convert between data formats,
    peform remote calls, estimate gas usage and more...
  </dd>
  <dt class="col-2"><code><a href={{ "hevm" | relative_url }}>Hevm</a></code></dt>
  <dd class="col-10">
    an EVM implementation designed for testing and verification, with a nimble
    debugger that runs in the terminal.
  </dd>
</dl>

<p>
  We like tools that are fast, transparent, and good citizens of
  the command line, which is how we've built the dapp suite.
</p>
