<p>
  We believe that the free software movement is the most important
  cultural predecessor to the modern-day renaissance in
  decentralized technologies.
</p>

<p>
  To catalyze the growth of this ecosystem, and to empower hackers to
  participate, we’re building a comprehensive suite of
  blockchain-oriented developer tools in the spirit of the
  Unix philosophy.
</p>

  <p>
    <a href={{ "dapp/" | relative_url }}><b>Dapp</b></a> is all you
    need to start developing for Ethereum.  It creates new dapps, runs
    Solidity unit tests, debugs, deploys, launches testnets, and more.
  <p>
    <a href={{ "seth/" | relative_url }}><b>Seth</b></a> is a handy
    tool for slicing and dicing transactions, querying the blockchain,
    converting between data formats, performing remote calls, and
    other everyday tasks.
  <p>
    <a href={{ "hevm" | relative_url }}><b>Hevm</b></a> is our own EVM
    implementation with a nimble terminal-based Solidity debugger.
    It’s used under the hood when you run <code>dapp test</code>
    or <code>dapp debug</code>.
