---
title: dapp.tools - dapp
layout: default
id: dapp
---

<h1>
  Dapp
</h1>
<p class="lead">
  Build, test, deploy and transact with Ethereum contracts from
  the comfort of the command-line.
</p>

<p>
  The <code>dapp</code> command is the basic user-facing tool
  in our development toolkit.
</p>

<p>
  It is opinionated and designed to support a simple
  and robust workflow while being fast, predictable,
  and a good citizen of the Unix command line.
</p>

<p>
  You can get started with dapp development very easily:
</p>

<pre>
<b>$</b> mkdir example
<b>$</b> cd example
<b>$</b> dapp init
<b>$</b> vi src/example.sol
<b>$</b> dapp test
<b>$</b> dapp debug
</pre>

<p>
  Here is a little teaser movie:
</p>

<script type="text/javascript"
        src="https://asciinema.org/a/GsgEuOcXPjcJzLSEs8TekbBLD.js"
        data-autoplay=0
        data-preload=1
        data-rows=20
        data-theme=monokai
        id="asciicast-GsgEuOcXPjcJzLSEs8TekbBLD" async>
</script>

{% include dapphub.html %}


<h1>Reference</h1>

<pre>
$ <a href="#init">dapp init</a>                    bootstrap a new dapp

$ <a href="#build">dapp build</a>                   compile the source code
$ <a href="#test">dapp test &lt;options&gt;</a>          run the test suite

$ <a href="#install">dapp install &lt;component&gt;</a>     install a dappsys component
$ <a href="#update">dapp update &lt;options&gt;</a>        update component(s)
$ <a href="#upgrade">dapp upgrade &lt;options&gt;</a>       upgrade component(s)
$ <a href="#uninstall">dapp uninstall &lt;component&gt;</a>   uninstall a component

$ <a href="#create">dapp create &lt;args&gt;</a>           deploy a contract
</pre>

<h3 class="cmd"><a name="init">dapp init</a></h3>
<p>
  The <code>init</code> command bootstraps a new
  project with some of our conventions&mdash;it will
</p>

<ol>
  <li>initialize a Git repository with a <code>.gitignore</code>;</li>
  <li>create a simple <code>Makefile</code>;</li>
  <li>install <a href="https://github.com/dapphub/ds-test">ds-test</a> as a submodule in the <code>lib</code> directory;</li>
  <li>create sample files in the <code>src</code> directory;</li>
  <li>run <code>dapp test</code> as a sanity check;</li>
  <li>and finally make an initial Git commit.</li>
</ol>

<pre>
$ mkdir my-dapp
$ cd my-dapp
$ dapp init
[output omitted]

2 tests passed, 0 failed
Took 0.131s
</pre>

<p>
  Compiled contracts are stored in the <code>out</code> directory,
  which is ignored by Git.
</p>

<h3 class="cmd"><a name="build">dapp build</a></h3>
<p>
  The <code>build</code> command invokes <code>solc</code> to compile all code in
  <code>src</code> and <code>lib</code> to <code>out</code>.
</p>

<pre>
$ dapp build

running build ....................

$ ls -l out

MyDapp.abi
MyDapp.bin
MyDapp.bin-runtime
MyDapp.sol.json

MyDappTest.abi
MyDappTest.bin
MyDappTest.bin-runtime
MyDapp.t.sol.json

DSTest.abi
DSTest.bin
DSTest.bin-runtime
</pre>

<p>
  The <code>build</code> command outputs .abi files - the JSON representation of a
  contract's <a href="https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI">
  Application Binary Interface</a> as well as bytecode representations .bin and
  .bin-runtime. The *.bin-runtime is the return value of the contstructor function
  and represents the bytecode that would end up being stored on the blockchain
  whilst *.bin files also include constructor calldata.
</p>

<h3 class="cmd"><a name="test">dapp test</a></h3>
<p>
  The <code>test</code> command uses <code>ethrun</code> and <code>ds-test</code>
  to compile the source and run any accompanying unit tests defined in
  <code>src</code>. The <code>ds-test</code> library makes it easy to write
  native unit tests in Solidity.
</p>

<pre>
$ dapp test
+ dapp clean
+ rm -rf out
Running 2 tests for src/MyDapp.t.sol:MyDappTest
..
+ solc --link --libraries '' out/DSTest.bin out/MyDapp.bin out/MyDappTest.bin
+ dapp quicktest out
Trying MyDappTest...
..

2 tests passed, 0 failed
Took 0.083s
</pre>

<h3 class="cmd"><a name="install">dapp install</a></h3>
<p>
  Dapp provides for the publishing and re-use of smart contract <code>components</code>
  like those provided by the <a href={{ "dappsys" | relative_url }}>dappsys</a>
  library. In the near future we expect to see the development of more sophisticated
  package managers for Ethereum but for the time being <code>dapp</code> simply
  faciliates the <a href="https://git-scm.com/book/en/v2/Git-Tools-Submodules">submoduling</a>
  of components published to github.
</p>

<p>
  When a github user is not specified, dapp will assume that the component is from the
  dappsys library.
</p>

<pre>
$ dapp install ds-auth
</pre>

<p>
  Providing a github username allows components to be installed from any shared
  github repo:
</p>

<pre>
$ dapp install apmilen/my-cool-component
</pre>

<p>
  Components are submoduled to the <code>lib</code> directory and can be imported
  into a project using the submodule name.
</p>

<pre>
pragma solidity ^0.4.0;

import "ds-auth/auth.sol";

contract TestContract is DSAuth {}
</pre>

<h3 class="cmd"><a name="update">dapp update</a></h3>
<p>
  Will run against all installed components in the <code>lib</code>
  directory when run without any arguments, or target a specific component
  when a name is specified:
</p>
<p>
  Recursively fetch all upstream changes without commiting.
</p>

<pre>
$ dapp update ds-auth
</pre>

<h3 class="cmd"><a name="upgrade">dapp upgrade</a></h3>
<p>
  Will run against all installed components in the <code>lib</code>
  directory when run without any arguments, or target a specific component
  when a name is specified:
</p>
<p>
  Recursively pull all upstream changes and save to the project repo via git
  commit.
</p>
<pre>
$ dapp upgrade ds-auth
</pre>

<h3 class="cmd"><a name="uninstall">dapp uninstall</a></h3>
<p>Remove an installed component:</p>
<pre>
$ dapp uninstall ds-auth
</pre>

<h3 class="cmd"><a name="create">dapp create</a></h3>
<p>
  The <code>create</code> command takes the name of the contract, and any
  constructor parameters as arguments and deploys the contract. Dapp will
  read the correct bytecode file from the <code>out</code> directory, bundle it
  up into a transaction with encoded constructor parameters, and broadcast
  it to the network.
</p>

<p>
  Lets assume that MyDapp is a trivial token contract that takes an inital
  supply and a name as constructor parameters:
</p>

<pre>
pragma solidity ^0.4.0;

contract MyDapp {

  mapping( address => uint ) _balances;
  string public name;

  function MyDapp(uint initial_balance, string name_) {
    _balances[msg.sender] = initial_balance;
    _supply = initial_balance;

    name = name_;
  }
}
</pre>

<p>
  Ensure that an Ethereum client is running and invoke create with the contract
  name and constructor parameters
</p>

<pre>
$ dapp create MyDapp 10000 "MyCoolToken"
+ seth send --create out/MyDapp.bin 'MyDapp(uint256,string)' 10000 MyCoolToken
seth-send: Published transaction with 1688 bytes of calldata.
seth-send: 0x4df5fdad614a88702439b10dd3002adb7869b339413011ba8ac69b4f07d9f10d
seth-send: Waiting for transaction receipt...
seth-send: Transaction included in block .
</pre>


<h2>Installation</h2>

{% include install.html %}

{% include contributing.html %}
