---
title: dappsys/ds-guard
layout: default
id: ds-guard
---

{% include dappsys/nav.html %}

<p>
  Manages an Access Control List which maps source and destination addresses
  to function signatures. Intended to be used as an <code>authority</code>
  for <a href={{ "dappsys/ds-auth.html" | relative_url }}>ds-auth</a> where
  it acts as a lookup table for the <code>canCall</code> function to provide
  boolean answers as to whether a particular address is authorized to call a
  given function at another address.
</p>
<p>
  The <code>acl</code> is a mapping of <code>[src][dst][sig] => boolean</code>
  where an address <code>src</code> can be either permitted or forbidden access to a
  function <code>sig</code> at address <code>dst</code> according to the boolean value.
  When used as an <code>authority</code> by DSAuth the <code>src</code> is considered
  to be the <code>msg.sender</code>, the <code>dst</code> is the including contract
  and <code>sig</code> is the function which invoked the <code>auth</code> modifier.
</p>
{% highlight js %}
  // Permit a specific address to call  a specific function on a specific contract
src = '0011111111111111111111111111111111111111'
dst = '0022222222222222222222222222222222222222'
guard.permit(src, dst, bytes4(sha3('mint(address,uint256)')));
{% endhighlight %}
<p>
  The <code>ANY</code> constant can be stored in place of <code>src</code>,
  <code>dst</code> or <code>sig</code> where it will act as a wildcard and be considered
  to match any item in that position.
</p>
{% highlight js %}
  // Permit ANY address to call a specific function on a specific contract
guard.permit(ANY, dst, bytes4(sha3('mint(address,uint256)')));

// Permit ANY address to call a ANY function on a specific contract
guard.permit(ANY, dst, ANY);
{% endhighlight %}

<p>
   Warning:
   Statements in the access control list are evaluated with the OR operator, meaning
   that the most open permission will take precedence. If all of the the above 3
   examples were in place for example, it is the last that would take precedence,
   regardless of the more restrictive permissions defined prior. Developers are
   encouraged to think carefully before using <strong>ANY</strong>.
</>

<h3>Actions</h3>
<dl class="row">
  <dt class="col-sm-3"><code>permit</code></dt>
  <dd class="col-sm-9">permit an address to call a function at a contract (requires auth)</dd>

  <dt class="col-sm-3"><code>forbid</code></dt>
  <dd class="col-sm-9">forbid an address from calling a function at a contract (requires auth)</dd>
</dl>

{% highlight js %}
  {% include git/dappsys/ds-guard/src/guard.sol %}
{% endhighlight %}
