<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section>
      <div class="container home">
        <div class="row">
          <div class="col-12">
            <h1>
              Tools for dapps
            </h1>
            <p class="lead">Command-line-friendly tools for blockchain development</p>
            <p>{% include tools.html %}</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Installing</h1>
            {% include install.html %}
            <p>
              Our
              post <a href="https://medium.com/dapphub/dapp-tools-and-the-nix-package-manager-c4c692c87310">“Dapp
                tools and the Nix package manager”</a> explains what
              makes Nix special and why we chose it for our tools.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Basics</h1>
            <p class="lead">Quick intro to working with the dapp tools</p>
            <p>
              You can get started with dapp development very easily:
            </p>
<pre>
<b>$</b> mkdir example
<b>$</b> cd example
<b>$</b> dapp init
<b>$</b> vi src/example.sol
<b>$</b> dapp test
<b>$</b> dapp debug
</pre>
            <p>
              For details about the <code>dapp</code> command,
              see <a href=dapp>dapp.tools/dapp</a>.
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container home">
        <div class="row">
          <div class="col-12">
            {% include dapphub.html %}
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container home">
        <div class="row">
          <div class="col-12">
            <h1>Dappsys</h1>
            <p class="lead">Safe, simple, flexible building-blocks for Ethereum contracts</p>
            {% include dappsys.html %}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
