<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section>
      <div class="container home">
        <div class="row">
          <div class="col-12">
            <h1>
              Tools for dapps
            </h1>
            <p class="lead">Command-line friendly tools for blockchain development</p>
            <p>{% include tools.html %}</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Installing</h1>
            <p class="lead">Getting started with the DappHub toolkit</p>
            {% include install.html %}
            <p>
              Our
              post <a href="https://medium.com/dapphub/dapp-tools-and-the-nix-package-manager-c4c692c87310">“Dapp
                tools and the Nix package manager”</a> explains what
              makes Nix special and why we chose it for our tools.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container home">
        <div class="row">
          <div class="col-12">
            <h1 class="dapphub-logo">
              The DappHub Collective
            </h1>
            <p class="lead">We build infrastructure for the next generation of the internet</p>
            <p>
              <a href="http://dapphub.com">DappHub</a> is a
              self-organizing network of logicians, researchers,
              designers and developers spread out across the
              globe.
            </p>
            <p>
              Our network is always growing. If you want to join, just
              come to our chat room and introduce yourself.
            </p>
            <p>
              <a href="https://dapphub.chat" class="btn btn-secondary join">
                <i class="fa fa-users"></i> Join the DappHub chat
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container home">
        <div class="row">
          <div class="col-12">
            <h1>Dappsys</h1>
            <p class="lead">Safe, simple, flexible building-blocks for Ethereum contracts</p>
            {% include dappsys.html %}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
