---
title: dapp.tools - hevm
layout: default
id: hevm
---

<h1>
  Hevm
</h1>
<p class="lead">
  An EVM for testing and verification, with a nimble debugger that runs in the terminal.
</p>

<script type="text/javascript"
        src="https://asciinema.org/a/dTPBLV10gixo62ngiSFTK2dVu.js"
        data-autoplay=0
        data-preload=1
        data-theme=monokai
        id="asciicast-dTPBLV10gixo62ngiSFTK2dVu" async></script>


<pre class="small">
COMMANDS
<code>
hevm -- Ethereum evaluator written in Haskell

Usage: hevm (exec | dapp-test | interactive | bc-test | compliance | flatten |
            emacs | version | rlp | abiencode | merkle-test | strip-metadata)

Available options:
  -h,--help                Show this help text

Available commands:
  exec
  dapp-test
  interactive
  bc-test
  compliance
  flatten
  emacs
  version
  rlp
  abiencode
  merkle-test
  strip-metadata
</code>

<h2>About</h2>
<p>
  The hevm project is an implementation of the Ethereum virtual machine (EVM)
  made specifically for unit testing and debugging smart contracts. It is
  developed by DappHub and integrates especially well with the dapp tool suite.
  The hevm command line program can run unit tests, property tests, interactively debug
  contracts while showing the Solidity source, or run arbitrary EVM code. State can be fetched
  from a remote node, or stored locally over several executions.
</p>

<p>
  hevm is a fully compliant EVM implementation which passes the General State Tests
  and supports all the Instanbul precompiles.
</p>

<h2>Standalone usage</h2>
<p>
  hevm can execute arbitrary EVM code by the command <code>hevm exec</code>. For example,
  to run a simple EVM Quine, try:
  <code>hevm exec --code 0x647175696e6550383480393834f3 --gas 0xff </code>
</p>

<p>
  If given the <code>--rpc</code> flag, state will be fetched from the url provided:
  <code>hevm exec --rpc https://mainnet.infura.io/v3/$INFURA_API_KEY --address 0x64043a98f097fD6ef0D3ad41588a6B0424723b3a --debug --gas 0xffffff --calldata $(seth calldata "nonces(address)" 0x64043a98f097fD6ef0D3ad41588a6B0424723b3a) </code>
</p>

<p> For more information, refer to the <a href="https://github.com/dapphub/dapptools/tree/master/src/hevm">hevm README</a>
</p>

<h2>Usage with dapp tests</h2>
<p>
  After running <code>dapp build</code>, you can then run <code>hevm dapp-test</code>
  to run a <code>ds-test</code> suite, or <code>hevm interactive</code> to enter the
  debugger. If the <code>out</code> directory contains multiple <code>.t.sol</code>
  files then the <code>--json-file</code> flag should be used to specify a target:
</p>

{% highlight bash %}
  hevm dapp-test --json-file out/my-dapp.t.sol.json
{% endhighlight %}

<h2>Key Bindings</h2>

<p>
  The following key bindings are available when running in interactive mode:
</p>

<dl class="row">
  <dt class="col-sm-2"><code>a</code></dt>
  <dd class="col-sm-10">step to start of execution</dd>

  <dt class="col-sm-2"><code>e</code></dt>
  <dd class="col-sm-10">step to end of execution</dd>

  <dt class="col-sm-2"><code>n</code></dt>
  <dd class="col-sm-10">step forward by one instruction</dd>

  <dt class="col-sm-2"><code>p</code></dt>
  <dd class="col-sm-10">step backward by one instruction</dd>

  <dt class="col-sm-2"><code>N</code></dt>
  <dd class="col-sm-10">
    step several instructions until the source map location changes (like
    stepping by subexpression)
  </dd>

  <dt class="col-sm-2"><code>Ctl-n</code></dt>
  <dd class="col-sm-10">
    like <code>N</code> except that it steps over <code>CALL</code> and
    <code>CREATE</code>
  </dd>

  <dt class="col-sm-2"><code>m</code></dt>
  <dd class="col-sm-10">toggle memory pane</dd>

  <dt class="col-sm-2"><code>Enter</code></dt>
  <dd class="col-sm-10">display contract overview</dd>

  <dt class="col-sm-2"><code>Esc</code></dt>
  <dd class="col-sm-10">exit</dd>
</dl>

<h2>Installation</h2>

{% include install.html %}

{% include contributing.html %}
