html { font: 18px/1.5 sans-serif }
body { color: rgba(0, 0, 0, 0.85); margin: 0 }
tt { font-size: 90%; }
section > div { max-width: 32rem; margin: 0 auto; padding: 1.5rem }
nav { font-size: .8rem; }
nav { position: absolute; top: 1.5rem; right: 3rem }
a { font-weight: bold; color: purple; text-decoration: none }
a { border-bottom: .1rem solid currentcolor }
nav p { margin-left: 3rem; display: inline }
h1 { font-size: 1.5rem; line-height: 3rem; margin: 1.5rem 0 0 }
h2 { font-size: 1.2rem; line-height: 2rem; margin: 1.5rem 0 0 }
img { position: absolute; left: 3rem; top: 1.5rem; width: 5rem }
tt { color: rgba(0, 0, 50, 1); }
li:not(:last-child) { margin-bottom: .5rem; }
h1, h2 { letter-spacing: -0.05em; }
ul ul { margin-top: .5rem; list-style-type: none; }
ul ul li { margin-bottom: 0 !important; }
ul ul li a { margin-right: 1rem; }

section:not(.dark) { position: relative; }

.dark { border: 0 solid rgba(0, 0, 0, 0.1); border-width: .3rem 0; }
.dark { background: rgba(70, 50, 100, 1); color: ivory; }
.dark tt { color: rgba(255, 200, 255, 1); }
.dark a { color: rgba(200, 200, 255, 1); }

/* section:not(.dark) { box-shadow: 0 0px 4rem rgba(255, 255, 255, 0.25); } */

pre { background-color: rgba(255, 200, 255, .09); }
pre { padding: 0.5rem 0.75rem; }
pre { border: 1px solid rgba(255, 255, 255, .05); }
pre a { border-width: 0; }
pre { margin: 0; margin-left: 1.5rem; margin-bottom: 1rem; }
pre { background: rgba(0, 0, 0, 0.3); }