html { font: 18px/1.5 sans-serif }
body { color: rgba(0, 0, 0, 0.85); margin: 0 }
body { background: rgba(100, 0, 100, 0.1); }
tt { font-size: 90%; }
section > div { max-width: 32rem; margin: 0 auto; padding: 1.5rem }
nav { font-size: .8rem; }
nav { position: absolute; top: 1.5rem; right: 3rem }
a { font-weight: bold; color: purple; text-decoration: none }
a { border-bottom: .1rem solid currentcolor }
nav p { margin-left: 3rem; display: inline }
h1 { font-size: 1.5rem; line-height: 3rem; margin: 1.5rem 0 0 }
h2 { font-size: 1.2rem; line-height: 2rem; margin: 1.5rem 0 0 }
img { position: absolute; left: 3rem; top: 1.5rem; width: 5rem }
tt { color: rgba(0, 0, 50, 1); }
li:not(:last-child) { margin-bottom: .5rem; }
h1, h2 { letter-spacing: -0.05em; }
ul ul { margin-top: .5rem; list-style-type: none; }
ul ul li { margin-bottom: 0 !important; }
ul ul li a { margin-right: 1rem; }

.dark { background: rgba(70, 50, 100, 1); color: ivory; }
.dark { background: linear-gradient(to bottom, rgba(70, 50, 100, 0.8), rgba(70, 50, 100, 1) 100%); }
.dark tt { color: rgba(255, 200, 255, 1); }
.dark a { color: rgba(200, 200, 255, 1); }

/* section:not(.dark) { box-shadow: 0 0px 4rem rgba(255, 255, 255, 0.25); } */

pre { background-color: rgba(255, 200, 255, .09); }
pre { padding: 0.5rem 0.75rem; }
pre a { border-width: 0; }
pre { margin: 0; margin-left: 1.5rem; margin-bottom: 1rem; }
pre { background: rgba(0, 0, 0, 0.3); box-shadow: inset 0rem 0rem 3rem rgba(0,0,0,.15) }
pre { border-radius: .5rem; }

section { position: relative; z-index: 1; }
section > div { position: relative; }

/*
shine { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
shine { display: grid; grid: repeat(5, 500px) / repeat(10, 1fr); }
stripe { opacity: 0.5; }
stripe:nth-child(odd) { background: linear-gradient(to right, lightblue 0%, rgba(70, 50, 100, 1) 100%); }
stripe:nth-child(even) { background: linear-gradient(to left, lightblue 0%, rgba(70, 50, 100, 1) 100%); }
stripe { transform: skewY(-12deg); transform-origin: 0; }
stripe:nth-child(1) { grid-column: span 3; }
stripe:nth-child(2) { grid-area: 3 / span 3 / auto / -1; }
stripe:nth-child(3) { grid-row: 4; grid-column: span 5; }
*/

picture.a {
  background: url(engine-1.svg);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 4rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  background-size: contain;
  background-position: center;
  opacity: 0.1;
}